<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>

    <add key = "ShowInterceptChecbox" value="true" />

    <add key = "ApotekCertSerialNo" value="70693758584019090641930" />
    <add key = "ReseptformidlerCertSerialNo" value="458378716857124976895378" />
    <add key = "defaultKundeId" value="06010277165" />
    <add key = "customDatakatalog" value="false" />
    <add key = "datakatalog" value="C:\eresept\NettapotekForm" />
    <add key = "helpfile" value="helpfile.html" />


    <!--  RFNA må settes opp til en av de følgende alternativ (PROD er selvfølgelig med her kun for referanse)  -->
    <add key = "RFNA_TEST1_INTERNET" value="http://139.112.129.37/NA/NAWebServiceSoapHttpPort" />
    <add key = "RFNA_TEST1_NHN"      value="http://139.116.129.4/NA/NAWebServiceSoapHttpPort" />
    <add key = "RFNA_TEST2_INTERNET" value="http://139.112.16.1/NA/NAWebServiceSoapHttpPort" />
    <add key = "RFNA_TEST2_NHN"      value="http://139.116.132.23/NA/NAWebServiceSoapHttpPort" />
    <add key = "RFNA_TEST3_INTERNET" value="http://139.112.129.5/NA/NAWebServiceSoapHttpPort" />
    <add key = "RFNA_TEST3_NHN"      value="http://139.116.132.22/NA/NAWebServiceSoapHttpPort" />
    <add key = "RFNA_QA_NHN"      value="http://139.116.129.2/NA/NAWebServiceSoapHttpPort" />
    <add key = "RFNA_PROD_NHN"      value="http://139.116.129.3/NA/NAWebServiceSoapHttpPort" /> 

    <add key = "RFNA" value="RFNA_TEST3_INTERNET" />

    <!-- RFUtleverer må settes opp til en av de følgende og tilsvare valg for RFNA dersom de samme reseptene skal være tilgjengelig -->
    <add key = "RFUtleverer_TEST1_INTERNET" value="http://139.112.129.64:80/Utleverer/UtlevererWebServiceSoapHttpPort" />
    <add key = "RFUtleverer_TEST1_NHN" value="http://139.116.132.19:80/Utleverer/UtlevererWebServiceSoapHttpPort" />
    <add key = "RFUtleverer_TEST2_INTERNET" value="http://139.112.129.159:80/Utleverer/UtlevererWebServiceSoapHttpPort" />
    <add key = "RFUtleverer_TEST2_NHN" value="http://139.116.132.20:80/Utleverer/UtlevererWebServiceSoapHttpPort" />
    <add key = "RFUtleverer_TEST3_INTERNET" value="http://139.112.129.174:80/Utleverer/UtlevererWebServiceSoapHttpPort" />
    <add key = "RFUtleverer_TEST3_NHN" value="http://139.116.132.21:80/Utleverer/UtlevererWebServiceSoapHttpPort" />
    <add key = "RFUtleverer_QA_NHN" value="http://139.116.129.36:80/Utleverer/UtlevererWebServiceSoapHttpPort" />
    <add key = "RFUtleverer_NONE" value="" />
    
    <add key = "RFUtleverer" value="RFUtleverer_TEST3_INTERNET" />

  
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UtlevererWebPortBinding" />
                <binding name="NAWebPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://139.112.129.174:80/Utleverer/UtlevererWebServiceSoapHttpPort"
                binding="basicHttpBinding" bindingConfiguration="UtlevererWebPortBinding"
                contract="UtlevererWebService.UtlevererWeb" name="UtlevererWebPort" />
            <endpoint address="http://139.112.129.5:80/NA/NAWebServiceSoapHttpPort"
                binding="basicHttpBinding" bindingConfiguration="NAWebPortBinding"
                contract="NettapotekWebService.NAWeb" name="NAWebPort" />
        </client>
    </system.serviceModel>
</configuration>